In [1]:
import os
import pandas as pd

In [19]:
df = pd.read_csv(r"C:\data\h1.trigram_list.csv", header=None, encoding='cp949')

In [20]:
df_transposed = df.T

In [52]:
df_transposed["count"] = [x.count("/") for x in df_transposed[0]]
df_transposed["occurence"] = [int(x) for x in df_transposed[1]]

In [53]:
df_transposed["count"].value_counts()

3    157800
2     88338
1      8038
Name: count, dtype: int64

In [56]:
df = df_transposed.sort_values(by=["occurence"], ascending=False)

In [58]:
df[df["count"] == 1].head(10)

                 0        1  count  occurence
128   ('자산/Noun',)  5308397      1    5308397
25     ('및/Noun',)  2996947      1    2996947
2904  ('금융/Noun',)  2899592      1    2899592
2237  ('인식/Noun',)  2740972      1    2740972
8     ('다음/Noun',)  2291697      1    2291697
174   ('부채/Noun',)  2174385      1    2174385
115   ('당사/Noun',)  1951005      1    1951005
186   ('손익/Noun',)  1847678      1    1847678
188   ('금액/Noun',)  1829754      1    1829754
108   ('현재/Noun',)  1826358      1    1826358

In [59]:
df[df["count"] == 2].head(10)

                             0        1  count  occurence
15409   ('금융/Noun', '자산/Noun')  1523085      2    1523085
7178    ('공정/Noun', '가치/Noun')  1332666      2    1332666
3215    ('단위/Noun', '천원/Noun')  1147278      2    1147278
587     ('다음/Noun', '단위/Noun')  1073868      2    1073868
769      ('역/Noun', '다음/Noun')  1038100      2    1038100
3605    ('손익/Noun', '인식/Noun')   755344      2     755344
342       ('년/Noun', '월/Noun')   747090      2     747090
12834   ('보고/Noun', '기간/Noun')   734515      2     734515
740    ('이연/Noun', '법인세/Noun')   649575      2     649575
1808     ('말/Noun', '현재/Noun')   642321      2     642321

In [60]:
df[df["count"] == 3].head(10)

                                        0       1  count  occurence
4218    ('다음/Noun', '단위/Noun', '천원/Noun')  825785      3     825785
1144     ('역/Noun', '다음/Noun', '단위/Noun')  558513      3     558513
834        ('년/Noun', '월/Noun', '일/Noun')  545217      3     545217
8433   ('기업/Noun', '회계기준/Noun', '제/Noun')  539165      3     539165
1835     ('전기/Noun', '말/Noun', '현재/Noun')  450829      3     450829
12425   ('공정/Noun', '가치/Noun', '측정/Noun')  441817      3     441817
8434    ('회계기준/Noun', '제/Noun', '호/Noun')  416939      3     416939
13470    ('보고/Noun', '기간/Noun', '말/Noun')  356241      3     356241
9766   ('이연/Noun', '법인세/Noun', '자산/Noun')  351080      3     351080
11321   ('기타/Noun', '포괄/Noun', '손익/Noun')  347591      3     347591